{% extends 'base.html' %}
{% block content %}
    {% load static %}
    {% load rupiah_filters %}
    {% load custom_tags %}

    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-3 text-gray-800">Daftar Tagihan</h1>
        <a href="{% url 'tambah_tagihan' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mb-3">
            <i class="fas fa-plus fa-sm text-white-50"></i> Tambah Tagihan
        </a>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mb-3" data-toggle="modal" data-target="#yearModal">
            <i class="fas fa-download fa-sm text-white-50"></i> Generate Tagihan
        </a>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Pelanggan</th>
                            <th>Jenis Layanan</th>
                            <th>Bulan</th>
                            <th>Tahun</th>
                            <th>Status</th>
                            <th>Jumlah Bayar</th>
                            <th>Aksi</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for tagihan in tagihan_list %}
                            <tr>
                                <td>{{ tagihan.pelanggan.nama }}</td>
                                <td>{{ tagihan.jenis_layanan.nama_jenis }}</td>
                                <td>{{ tagihan.bulan }}</td>
                                <td>{{ tagihan.tahun }}</td>
                                <td>{{ tagihan.get_status_tagihan_display }}</td>
                                <td>{{ tagihan.jumlah_bayar|rupiah }}</td>
                                <td>
                                    <a href="{% url 'edit_tagihan' tagihan.pk %}"
                                       class="btn-sm btn-warning btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-pen"></i>
                                        </span>
                                        <span class="text">Edit</span>
                                    </a>
                                    <a href="#"
                                       class="btn-sm btn-danger btn-icon-split"
                                       data-toggle="modal"
                                       data-target="#deleteModal"
                                       data-url="{% url 'hapus_tagihan' tagihan.pk %}"
                                    >
                                        <span class="icon text-white-50">
                                            <i class="fas fa-trash"></i>
                                        </span>
                                        <span class="text">Hapus</span>
                                    </a>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="9">Belum ada data pembayaran.</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

{% endblock %}