{% extends 'auth_base.html' %}
{% load static %}
{% block content %}

    <div class="p-5">
        <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">Welcome to SIAP!</h1>
        </div>
        {% if form.errors %}
            <div class="alert alert-danger">
                Username atau password salah. Coba lagi.
            </div>
        {% endif %}

        <form class="user" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary btn-user btn-block">Login</button>
        </form>
    </div>
    
{% endblock %}
